secrets.yaml
__pycharm__
*.log.*
.HA_VERSION
nest/*
backups/*
themes/*
wwww/*
ssl/*
*.pickle
home-assistant.log
zwcfg_0xc0fbca5d.xml
custom_components
.cloud
home-assistant_v2*
music_assistant.db
zigbee.db*
aircast.xml
pyozw.sqlite
tts/
image/
.storage/
www/google116dd383046bdefa.html
